<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7Hne5xDe0aQbqVBAEsjZXk3v5k1E-0YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>689570315229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yesiltas.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>news-e4fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>news-e4fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689570315229:ios:0f0dc17d4fb7d796e41434</string>
</dict>
</plist>